/* Google-Font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

.inter-font {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}

.shape-style {
  font-family: 'Grey Qo', cursive;
  font-weight: 300;
  font-size: 100px;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.all-body {
  color: white;
  background-color: #000000;
}
main {
  max-width: 1200px;
  margin: 100px auto;
  /* border: 5px solid white; */
}
section {
  margin-top: 100px;
}
.shape-style {
}

/* All-Primary-css-property */
:root {
  /* ***color*** */
  --white-1: #ffffff; /*heading tag */
  --gray-2: rgba(255, 255, 255, 0.5); /* p */
  --hight-light: #e6533c; /* btn */

  /* ***font-size*** */
  --font78: 78px; /* heading tag 1*/
  --font48: 48px; /* heading tag 2 */
  --font18: 18px; /* btn */
  --font14: 14px; /* p */

  /* ***font-weight*** */
  --header-btn: 900;
  --peragraps: 400;
}
#banner-btn {
  display: flex;
  gap: 30px;
}
#btn {
  width: 224px;
  color: var(--white-1);
  font-size: var(--font18);
  padding: 15px;
  background-color: var(--hight-light);
  border: none;
  border-radius: 50px;
}
#btn-dwn {
  width: 224px;
  color: var(--white-1);
  font-size: var(--font18);
  padding: 15px;
  background-color: #000000;
  border: 2px solid var(--white-1);
  border-radius: 50px;
}
/* Header-Part-Start  */

/* Navber-Part  */
.header-main-container {
  width: 100%;
  height: 715px;
  background-image: linear-gradient(
    to top,
    rgb(7, 7, 7),
    rgba(119, 119, 119, 0.2),
    rgb(7, 7, 7)
  );
  /* border: 3px solid white; */
}
.header {
  width: 1200px;
  margin: 50px auto 0 auto;
}
.nav-ber {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  color: var(--hight-light);
  font-size: 36px;
}
.manu-ber {
  display: flex;
  padding: 5px 5px;
  align-items: center;
  border: 1px solid #ffffff1a;
  border-radius: 30px;
}
.manu-ber li {
  list-style: none;
}
.manu-ber a {
  color: var(--white-1);
  font-size: var(--font18);
  margin: 0 30px;
  text-decoration: none;
}
#align-justify {
  display: none;
}
#align-justify i {
  font-size: 30px;
  border: none;
}
#home-dign {
  padding: 5px 3px;
  background-color: var(--hight-light);
  border-radius: 20px;
}

/* Banner-Part  */
.header-banner-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-banner-container h1 {
  color: var(--white-1);
  font-size: var(--font78);
}
.header-banner-container p {
  margin: 28px 0;
  font-size: 16px;
  color: var(--gray-2);
}
.header-banner-tittle {
  width: 550px;
}
.header-banner-bg-contain {
  width: 350px;
  height: 580px;
  margin-right: 30px;
  background-image: url(../images/banner\ logo.png);
  background-position: center;
  background-size: cover;
}
.inner-one {
  width: 193px;
  height: 98px;
  align-items: center;
  padding: 35px 25px;
  margin-top: 130px;
  margin-left: 250px;
  background-color: rgba(48, 48, 48, 0.9);
  line-height: 5px;
  border: none;
  border-radius: 12px;
}
.inner-one h3 {
  font-size: 40px;
  font-weight: var(--header-btn);
}
.inner-one p {
  font-size: 13px;
  font-weight: var(--peragraps);
}
.inner-two {
  width: 193px;
  height: 90px;
  align-items: center;
  padding: 30px 10px;
  margin-top: 200px;
  margin-left: -120px;
  background-color: rgba(48, 48, 48, 0.9);
  border: none;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.play-logo {
  height: 40px;
  width: 40px;
  background-color: var(--hight-light);
  border-radius: 50%;
}
.fa-solid {
  border: 1px solid var(--hight-light);
  margin: 12px 12px 12px 12px;
}

.mini-card {
  line-height: 1px;
  flex-direction: column;
  align-items: center;
}
.inner-two h3 {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 24px;
}
.inner-two p {
  font-size: var(--font14);
}
/* Header-Part-End  */

/* section-one-your-habits-start  */
.section-one-your-habits {
  width: 100%;
}

.your-habits-tittle {
  width: 65%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.habits-container {
  display: flex;
  justify-content: space-around;
}
.Habits {
  width: 230px;
  height: 280px;
  text-align: center;
}
.Habits img {
  border-radius: 50%;
}
.section-one-your-habits h2 {
  color: var(--white-1);
  font-size: var(--font48);
  font-weight: var(--header-btn);
  margin-bottom: 15px;
}
.section-one-your-habits h3 {
  color: var(--white-1);
  font-size: var(--font18);
  font-weight: var(--header-btn);
  margin-top: 25px;
  margin-bottom: 12px;
}
.section-one-your-habits p {
  color: var(--gray-2);
  font-size: var(--font14);
}

/* section-two-run-extra start */

.section-two-run-extra {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 30, 30);
  border-radius: 18px;
}
.run-extra-contain-tittle {
  width: 443px;
  height: 290px;
}
.run-extra-contain-tittle h2 {
  color: var(--white-1);
  font-size: var(--font48);
  font-weight: var(--header-btn);
}
.run-extra-contain-tittle p {
  margin: 34px 0;
  color: var(--gray-2);
  font-size: var(--font14);
}
.run-extra-img-container {
  width: 366px;
  height: 312px;
}
.run-extra-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

/* timetable start  */
.timetable {
  height: 600px;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.655),
      rgba(0, 0, 0, 0.655)
    ),
    url(../images/timetable-pic.jpg);
  background-size: cover;
  background-position: center;
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.timetable-all-items {
  /* border: 2px solid red; */
}
.timetable-tittle {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.timetable-tittle h1 {
  color: black;
  font-size: var(--font48);
  font-weight: 800;
  padding: 10px;
  background-color: gray;
}
.timetable-tittle h3 {
  margin-top: 20px;
}
.timetable-tittle h3 {
  font-size: 30px;
}
.no-gain {
  color: #ffd966;
}
.timeshet {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-top: 50px;
  /* border: 2px solid blueviolet; */
}
.day {
  width: 190px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid gray;
}

.day h3 {
  color: black;
  text-align: center;
  padding: 7px;
  background-color: #e27c11;
}
.sp-day h3 {
  background-color: #ffd966;
}
.day h6 {
  color: #f0bd88;
  font-size: 11px;
  margin: 25px 0;
}
.sp-day h6 {
  color: #ffd966;
}
.day li {
  color: white;
  list-style: none;
  margin-bottom: 10px;
  font-size: 15px;
}

/* offsional-section start */
.offsional-section {
  margin: 100px 0;
}
.offsional-section-tittle {
  margin-bottom: 50px;
}
.offsional-section-tittle h2 {
  color: var(--white-1);
  font-size: var(--font48);
  font-weight: var(--header-btn);
  margin-bottom: 15px;
}
.offsional-section-tittle p {
  color: var(--gray-2);
  font-size: var(--font14);
  width: 550px;
}
.box-1 {
  display: grid;
  grid-template-columns: 280px auto 340px;
}
.box-2 {
  display: grid;
  grid-template-columns: auto 300px 390px;
}
.image {
  height: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.image p {
  width: 200px;
  color: var(--white-1);
  font-size: var(--font14);
}
#item-1 {
  background-image: linear-gradient(
      to top,
      rgba(0, 255, 255, 0.423),
      rgba(0, 255, 255, 0.443)
    ),
    url(../images/exercise1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#item-2 {
  justify-content: start;

  background-image: linear-gradient(
      to top,
      rgba(255, 0, 0, 0.3),
      rgba(255, 0, 0, 0.3)
    ),
    url(../images/exercise2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#item-3 {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.423),
      rgba(0, 0, 0, 0.443)
    ),
    url(../images/exercise3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#item-4 {
  justify-content: start;
  align-items: end;
  background-image: linear-gradient(
      to top,
      rgba(10, 10, 10, 0.551),
      rgba(10, 10, 10, 0.551)
    ),
    url(../images/exercise4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#item-5 {
  background-image: linear-gradient(
      to top,
      rgba(0, 250, 0, 0.251),
      rgba(0, 250, 0, 0.251)
    ),
    url(../images/exercise5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#item-6 {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 200, 0.323),
      rgba(0, 0, 200, 0.343)
    ),
    url(../images/exercise6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* section-fore-BMI-start  */

/* 1-section-fore-BMI  */
.section-fore-BMI-tittle {
  width: 65%;
  margin: 0 auto;
  /* border: 2px solid white; */
}
.section-fore-BMI-tittle h2 {
  color: var(--white-1);
  font-size: var(--font48);
  margin-bottom: 25px;
}
.section-fore-BMI-tittle p {
  color: var(--gray-2);
  font-size: var(--font18);
}

/* 2-section-fore-BMI  */

.section-fore-BMI-container {
  background-color: rgba(128, 128, 128, 0.299);
}
.BMI-TABLE-FORM {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
}
.BMI-table h3 {
  color: var(--white-1);
  font-size: 32px;
  font-weight: var(--header-btn);
  margin-bottom: 30px;
}

.BMI-form {
  width: 600px;
}

table {
  border-collapse: collapse;
}
th {
  color: var(--white-1);
  font-size: var(--font18);
  font-weight: var(--header-btn);
  padding: 15px 30px;
  border: 2px solid white;
}
td {
  color: var(--gray-2);
  font-size: var(--font18);
  padding: 15px 30px;
  border: 2px solid white;
}

.BMI-form h3 {
  color: var(--white-1);
  font-size: 32px;
  font-weight: var(--header-btn);
  margin-bottom: 15px;
}
.BMI-form p {
  color: var(--gray-2);
  font-size: var(--font14);
  margin-bottom: 20px;
}

input,
select {
  color: var(--white-1);
  padding: 15px 9px;
  margin-bottom: 15px;
  font-size: var(--font18);
  width: calc((100% - 5px) / 2);
  border-radius: 10px;
  background-color: rgba(100, 100, 100, 0.299);
  border: none;
}
.select-foctor {
  color: gray;
  width: 100%;
}
.sex {
  color: gray;
}
.BMI-form #btn {
  margin-top: 30px;
}

/* section-five-our-team-start  */

.section-five-tittle-container {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  /* border: 3px solid green; */
}
.section-five-tittle-container h2 {
  color: var(--white-1);
  font-size: var(--font48);
  margin-bottom: 15px;
}
.section-five-tittle-container p {
  color: var(--gray-2);
  font-size: var(--font14);
}
.section-five-img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 25px;
  background-color: rgba(80, 80, 80, 0.406);
  border-radius: 18px;
  /* border: 3px solid white; */
}
.five-img-contain {
  margin: 0 auto;
  width: 350px;
  height: 310px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 10px;
  /* border: 2px dashed aqua; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 18px;
}
.five-img-contain h3 {
  color: var(--white-1);
  font-size: var(--font18);
  font-weight: var(--header-btn);
}
.five-img-contain p {
  color: var(--gray-2);
  font-size: var(--font14);
}
.img-1 {
  background-image: url(../images/trainer1.png);
}
.img-2 {
  background-image: url(../images/trainer2.png);
}
.img-3 {
  background-image: url(../images/trainer3.png);
}
.img-4 {
  background-image: url(../images/trainer4.png);
}
.img-5 {
  background-image: url(../images/trainer5.png);
}
.img-6 {
  background-image: url(../images/trainer6.png);
}

/* footer-section-start  */
.footer {
  width: 100%;
  height: 500px;
  margin-top: 100px;
  background-color: rgba(90, 90, 90, 0.413);
  border: 0.1px solid rgba(20, 20, 20, 0.413);
}
.fitness-tittle-footer-container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.fitness-name {
  width: 500px;
}
.fitness-name h1 {
  color: var(--hight-light);
  font-size: var(--font78);
  font-weight: var(--header-btn);
}
.fitness-name p {
  color: var(--gray-2);
  font: var(--font14);
  margin-top: 50px;
}
.get-started {
  width: 280px;
}
.get-started h3 {
  color: var(--white-1);
  font-size: 36px;
  font-weight: var(--header-btn);
  margin-bottom: 30px;
}
.get-started li {
  color: var(--gray-2);
  font-size: 22px;
  line-height: 40px;
  list-style: none;
}
.copy-right-section {
  width: 1200px;
  color: var(--gray-2);
  margin: 0 auto;
  margin-top: 40px;
  padding: 35px 0;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
  border-top: 0.1px solid var(--gray-2);
}

/* Media Quary-for Mobile phone  */
@media screen and (max-width: 576px) {
  body {
    margin: 0 auto;
  }
  /* .shape-style {
    font-size: 80px;
  } */
  .header {
    width: 100%;
    height: auto;
    margin: 50px auto;
  }
  .nav-ber {
    padding: 0 20px;
  }
  .manu-ber {
    display: none;
  }
  #align-justify {
    display: flex;
  }
  .header-main-container {
    width: 100%;
    height: 100%;
  }
  .header-banner-container {
    flex-direction: column;
  }
  .header-banner-container h1 {
    font-size: var(--font48);
  }
  .header-banner-tittle {
    width: 95%;
  }
  .header-banner-bg-contain {
    width: 100%;
    height: 800px;
    margin-top: 50px;
    margin-right: 0;
    position: relative;
    background-position: top;
  }

  .inner-one {
    width: 160px;
    height: 98px;
    padding: 35px 12px;
    position: absolute;
    top: -60px;
    right: 20px;
  }
  .inner-one h3 {
    font-size: 30px;
    font-weight: var(--header-btn);
  }
  .inner-one p {
    font-size: 12px;
    font-weight: var(--peragraps);
  }

  .inner-two {
    width: 170px;
    height: 90px;
    position: absolute;
    top: 250px;
    left: 150px;
  }
  /* .section-one-your-habits  */
  main {
    width: 90%;
    margin: 0 auto;
  }
  .section-one-your-habits {
    width: 100%;
    margin-top: 100px;
    justify-items: center;
  }

  .your-habits-tittle {
    width: 100%;
    margin: 0 auto;
    /* text-align: center; */
    margin-bottom: 50px;
    font-size: 15px;
  }
  .your-habits-tittle h2 {
    font-size: 35px;
  }
  .habits-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Habits {
    margin-top: 40px;
  }

  /* section-two-run-extra start */
  .section-two-run-extra {
    flex-direction: column;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
  }
  .run-extra-contain-tittle {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }

  .run-extra-img-container {
    width: 100%;
    height: 100%;
  }
  .run-extra-contain-tittle #btn {
    width: 100%;
  }

  /* timetable start  */
  .timetable {
    height: auto;
    width: 100%;
    padding: 10px 0;
  }
  .timetable-tittle {
    width: 90%;
    margin: 0 auto;
  }
  .timetable-tittle h1 {
    font-size: 36px;
  }
  .timetable-tittle h3 {
    font-size: 25px;
  }
  .timeshet {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .day {
    width: 60%;
    margin: 0 auto;
  }

  .day h6 {
    font-size: 15px;
  }

  /* offsional-section-START  */
  .offsional-section {
    width: 100%;
    margin: 100px auto;
  }
  .offsional-section-tittle h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .offsional-section-tittle p {
    width: 100%;
  }
  .box-1 {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .box-2 {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .image {
    height: 170px;
  }
  #item-1 {
    width: 50%;
    padding: 5px;
  }
  #item-2 {
    width: 50%;
    padding: 3px;
  }
  #item-3 {
    display: none;
  }
  #item-4 {
    width: 45%;
  }
  #item-4 p {
    display: none;
  }
  #item-5 {
    width: 55%;
  }
  #item-6 {
    display: none;
  }

  /* section-fore-BMI-start  */
  /* 1-section-fore-BMI  */
  .section-fore-BMI-tittle {
    width: 100%;
  }
  /* 2-section-fore-BMI  */
  .BMI-TABLE-FORM {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
  }
  .BMI-table {
    width: 100%;
  }
  .BMI-form {
    width: 100%;
    margin-top: 50px;
  }
  .BMI-TABLE-FORM h3 {
    color: var(--white-1);
    font-size: 28px;
    font-weight: var(--header-btn);
    margin-bottom: 15px;
  }
  .BMI-form p {
    color: var(--gray-2);
    font-size: var(--font14);
    margin-bottom: 20px;
  }
  input,
  select {
    color: var(--white-1);
    padding: 15px 9px;
    margin-bottom: 15px;
    font-size: var(--font18);
    width: calc((100% - 5px) / 2);
    border-radius: 10px;
    background-color: rgba(100, 100, 100, 0.299);
    border: none;
  }
  .select-foctor {
    width: 100%;
  }
  .BMI-form #btn {
    margin-top: 30px;
  }

  /* section-five-our-team-start  */
  .section-five-tittle-container {
    width: 100%;
  }
  .section-five-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .five-img-contain {
    width: 100%;
    height: 310px;
    flex-direction: column;
    justify-content: end;
  }

  /* footer-section  */
  .footer {
    width: 100%;
    height: 100%;
  }
  .fitness-tittle-footer-container {
    width: 90%;
    flex-direction: column;
    gap: 40px;
  }
  .fitness-name {
    width: 100%;
  }
  .get-started {
    width: 100%;
  }
  .copy-right-section {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    margin-top: 50px;
    font-size: 21px;
  }
}
